body {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#72a1e3, #1d1560);

  overflow: hidden;
}

/*  footer   */
header {
  background-color: #222;
  color: #fff;
  font-size: 20px;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 20px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
}
